.page-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.app-main__container {
    min-height: 65vh;
    padding-bottom: 5rem;
}

.app-main__container .row .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 65vh;
}

.app-main__container .row .col-lg-6:first-child {
    align-items: flex-start;
}

.app-main__container h1 {
    font-size: 5em;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--title-color);
}

.app-main__container h4 {
    color: hsl(0, 0%, 75%);
    font-size: 1.4em;
    width: 80%;
}

.advanced-stats__container {
    min-height: 90vh;
    background-color: #F2F3F4;
    padding: 8rem 1.5rem;
}

.advanced-stats__container .section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.advanced-stats__container .section-header  p {
    color: hsl(0, 0%, 75%);
}

.stats-items {
    position: relative;
    min-height: 40vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.stats-items .line {
    position: absolute;
    width: 70%;
    height: 8px;
    background-color: var(--primary-theme);
}

.boost-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 35vh;
    background: url('../../assets/bg-boost-desktop.svg'), #3a3053;
    background-size: cover;
}

.boost-links .page-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
    background-color: #232028;
    color: white;
}

.app-footer .footer-title {
    text-transform: capitalize;
    font-weight: bold;
}

.app-footer .footer-section-list {
    width: 100%;
    margin-top: 30px;
    padding: 0px;
}

.app-footer .footer-section-list li {
    list-style-type: none;
    text-transform: capitalize;
    color: hsl(0, 0%, 75%);
    margin-bottom: 10px;
    font-size: .9em;
}

.app-footer .footer-socials {
    margin-top: 30px;
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 992px) {

    .app-main__container {
        padding-bottom: 0;
    }

    .app-main__container, .app-main__container .row .col-lg-6 {
        min-height: 40vh;
    }

    .app-main__container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .app-main__container .row .col-lg-6:first-child {
        align-items: center;
    }

    .app-main__container h4 {
        width: 100%;
        text-align: center;
    }

    .advanced-stats__container {
        margin-top: 100px;
    }

    .section-header {
        margin-top: 40px;
    }

    .page-section {
        width: 100%;
        padding: 1rem 1.5rem;
    }

    .stats-items .line {
        width: 10px;
        height: 100%;
    }

    .app-footer .page-section .row .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .app-footer-links {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .app-footer .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .boost-links {
        background: url('../../assets/bg-boost-mobile.svg') no-repeat center, #3a3053;
        background-size: cover;
    }

    .app-footer-links {
        margin-top: 40px;
    }
}