:root {
    --primary-theme: hsl(180, 66%, 49%);
    --title-color: hsl(257, 27%, 26%);
}

* {
    font-family: 'Poppins', sans-serif;
}

.main-btn {
    padding: .6rem 1.25rem;
    text-transform: capitalize;
    background-color: var(--primary-theme);
    color: white;
    border: none;
    border-radius: 20px;
    transition: .8s;
}